{% extends 'medsite/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<ul>
      {% for name in users %}
    <li>
        <h2> {{ name }}</h2>

    </li>
        {% endfor %}}


</ul>

<u2>
       <form action="select1.php" method="post">
        <p><select size="5" multiple name=user>
    <option disabled>Выберете имя</option>
      {% for name in users %}
            <option value={{ name }}>{{ name }}</option>

        {% endfor %}}


</u2>


<!--   <form action="select1.php" method="post">-->
<!--        <p><select size="5" multiple name=user>-->
<!--    <option disabled>Выберете имя</option>-->


<!--    <option value={{ name }}>Чебурашка</option>-->
<!--&lt;!&ndash;    <option selected value="Крокодил Гена">Крокодил Гена</option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="Шапокляк">Шапокляк</option>&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="Крыса Лариса">Крыса Лариса</option>&ndash;&gt;-->
   </select></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
{% endblock content %}